.footer {
  position: relative;
  width: 100%;
  border: 1px solid black;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: auto
}

.footer .spacer {
  width: 100%;
  height: 7px;
  background: linear-gradient(
    273.07deg, #4BBADD 9.24%, #0D7C9F 101.74%);
}

.footer h4 {
  font-family: Roboto Light;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-align: center;

  margin-top: 15px;
  margin-bottom: 22px;
}

#page {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-flow: column;
}